<!DOCTYPE html>
<html>
<head>
    <title>Account Registration List</title>
</head>
<body>
    <h1>Account Registration List</h1>
    
    <table borde="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for user in account_registrations %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.address }}</td>
                <td><a href="{% url 'edit_account_registration_view' id=user.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'upload_account_registrations' %}">Upload New Account Registration</a>
</body>
</html>
